.large-button{
  border-radius: 50%;
  padding:0px 2em;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  position: relative;
  
  &::after{
    content:'';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl(var(--clr-white) / .15);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms linear, transform 500ms ease-in-out;
  }
  &:hover::after{
    transform: scale(1.5);
    opacity: 1;
  }
}

